{% extends "base.html" %}
{% block content %}
<div class="container">
  <button class="btn btn-success" type="button" style="margin: 1rem;"><a href="{{ url_for('main.insert_libro') }}"
      style="text-decoration: none; color:white;">NUEVO</a></button>
  <div class="row">
    <table class="table table-light" style="text-align: center;" >
      <thead style="text-transform: uppercase;">
        <tr class="tr_head">
          <th>Id</th>
          <th>Nombre</th>
          <th>Autor</th>
          <th>No.Tomo</th>
          <th>Precio</th>
          <th>Estatus</th>
          <th>Eliminar</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        {% for libro in libros %}
        <tr>
          <td>{{ libro.id }}</td>
          <td>{{ libro.name }}</td>
          <td>{{ libro.author }}</td>
          <td>{{ libro.tomo }}</td>
          <td>{{ libro.price }}</td>
          <td>{{ libro.exist }}</td>
          <td><a href="deleteLibro?id={{ libro.id }}" class="btn btn-danger">
              <i class="icon-remove icon-white"></i>ELIMINAR
            </a></td>
          <td><a href="updateLibro?id={{ libro.id }}" class="btn btn-warning">
              <i class="icon-edit icon-white"></i>MODIFICAR
            </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}