{% extends "base.html" %}
{% block content %}
<div class="container_index">
  <div class="container__hero">
    <img class="img_gero" src="../static/img/logo.png" alt="">
  </div>
  <div class="container__info">
    <h1 class="info__title"><i class="fas fa-crown" style="color: goldenrod;"></i> bienvenidos a Imperio <i class="fas fa-crown" style="color: goldenrod;"></i></h1>
    <p class="info__content">
      Somos una librería independiente ubicada en el corazón de la ciudad. Nuestra misión es proporcionar a nuestros clientes una amplia selección de libros de alta calidad y ofrecer una experiencia de compra personalizada y excepcional. Nos enorgullece ofrecer un ambiente acogedor y relajado para que nuestros clientes puedan explorar y descubrir nuevos títulos, y disfrutar de una atención al cliente excepcional.
      <br>
      En Imperio, nos apasiona la lectura y nos encanta compartir esa pasión con nuestros clientes. Ofrecemos una amplia variedad de géneros, desde novelas hasta poesía, pasando por ensayos y biografías. Además, nos esforzamos por incluir libros de autores y editoriales independientes, así como títulos en otros idiomas, para ofrecer una selección más diversa a nuestros clientes.
      <br>
      En Imperio, nos esforzamos por ser una parte activa de la comunidad y contribuir a ella en todo lo que podemos. Valoramos cada uno de nuestros clientes y nos esforzamos por ofrecerles la mejor experiencia de compra posible. ¡Gracias por visitarnos y esperamos que disfrute su tiempo en nuestra librería!
    </p>
  </div>
</div>
{% endblock %}